Django==4.2
Pillow==10.4.0
psycopg2-binary==2.9.9
django-heroku==0.3.1  # For Heroku deployment if you plan to deploy there
django-jazzmin==3.0.1  # For admin UI customization
whitenoise==6.7.0  # For static files handling
gunicorn==20.0.4  # WSGI server for deployment
dj-database-url==2.2.0  # Database URL parsing for easier deployment setup
python-dotenv==1.0.1  # To manage environment variables securely
setuptools>=56.0.0
wheel>=0.36.2
