{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Form - University Bus Management System</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'script.js' %}" defer></script>
</head>
<body>
  <!-- Marquee for College Name -->
  <marquee behavior="scroll-animation" direction="left" class="marquee">Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</marquee>
  <header>
    <div class="logo" style ="display: flex; margin:10px;">
      <img src="https://yt3.googleusercontent.com/ytc/AIdro_nBqKGojl45dPe27v6-CuoZAC2brmov3EJfwUSaMAyfkw=s900-c-k-c0x00ffffff-no-rj" alt="College Logo">
    </div>

    
    <nav>
      
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'routes' %}">Bus Updates</a></li>
        <li><a href="{% url 'login' %}">Student Login</a></li>
        <li><a href="{% url 'vacancy' %}">Vacancies</a></li>
        <li><a href="{% url 'apply' %}">Application Form</a></li>
        <li><a href="{% url 'Info' %}">Info</a></li>
        <li><a href="{% url 'Remarks' %}">Remarks</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="main-content">

    <section class="application-form-section scroll-animation">
      <h1 style="display: flex;justify-content:center;"> Bus Vacancy Information </h1>
      <div class="container">
        <table class="vacancy-table">
          <thead>
            <tr>
              <th class="table-header">Bus Name</th>
              <th class="table-header">Total Seats</th>
              <th class="table-header">Occupied Seats</th>
              <th class="table-header">Remaining Seats</th>
            </tr>
          </thead>
          <tbody>
            {% for vacancy in vacancies %}
              <tr class="table-row">
                <td class="table-data">{{ vacancy.bus_name }}</td>
                <td class="table-data">{{ vacancy.total_seats }}</td>
                <td class="table-data">{{ vacancy.occupied_seats }}</td>
                <td class="table-data">{{ vacancy.remaining_seats }}</td>
              </tr>
            {% empty %}
              <tr class="table-row">
                <td class="table-data" colspan="4">No vacancies available for this route.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


    </section>
</main>

  
</body>
</html>
